<ion-view view-title="Ingresar Favoritos">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Ingresar lugar Favorito de carga
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
