/* Empty. Add your own CSS if you like */
label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

html, body, #mapa {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
 }
 .scroll {
 	height: 100%;
 }

 #informacion {
    position: absolute;
    z-index: 1000;
    background-color: #F5F8F9;
    width: 100%;
    padding: 10px;
    border: 1px solid #99D9FC;
    margin: 0;
 }